html, body {
    padding: 0px;
    margin: 0px;
}

header, section {
    clear: both;
}

.back {
    margin-left: 5px;
    margin-top: 5px;
    height: 28px;
    width: 15px;
    float: left;
    padding: 5px;
}

.msg {
    float: left;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    padding: 5px;
}


.complete {
    display: none;
    float: left;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    padding:5px 15px 5px 5px;
}


.rightIcon {
    float: right;
}

.ricon {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.tabAll {
    margin-left: 1em;
}

.tab {
    color: #000;
    float: left;
    font-size: 1.2em;
    height: 40px;
    width: 50px;
    line-height: 40px;
    margin-left: 10px;
}

.tcolor {
    color: #ff4537;
    font-size: 1.5em;
    width: 50px;
    margin-right: 5px;
    border-bottom: 4px solid #ffae08;
    line-height: 30px;
}

.seachAll {
    margin-left: 13px;
}

input.seach {
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    width: 98%;
    height: 30px;
    background: #f3f5f8;
    border-radius: 25px;
    border: 0;
    text-align: center;
}


.flist {
    margin-left: 15px;
    margin-right: 15px;
}

.ulflist {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.ulflist li {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.touxiang {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px;
}

.name {
    float: left;
    color: #000;
    font-size: 17px;
    margin-top: 10px;
    padding-left: 10px;
}

.selecticon {
    float: right;
    margin-top: 10px;
    padding-left: 10px;
    color: #9ba0a7;
    margin-right: 7px
}

