<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <title>群聊界面</title>
    <link href="./css/chat-emoji.css" rel="stylesheet">
    <link href="emoji/webiaoqing.css" rel="stylesheet" type="text/css">

    <script src="./js/jquery-3.3.1.min.js" type="application/javascript"></script>
    <script src="./js/vue.js" type="application/javascript"></script>
    <script src="./js/stomp.min.js" type="application/javascript"></script>
    <script src="./js/sockjs.min.js" type="application/javascript"></script>
    <script src="js/sockjsCommon.js" type="application/javascript"></script>
    <script src="./js/common.js" type="application/javascript"></script>
    <!--表情-->
    <script src="emoji/webiaoqin.js" type="application/javascript"></script>
    <style>
        #form_article {
            position: relative;
            background: #fff;
            width: 83%;
            outline: none;
            border-radius: 25px;
            line-height: 30px;
            padding: 10px 5px 10px 10px;
        }

        .wf {
            width: 66% !important;
        }

        .rightIcon {
            float: right;
            display: block;
        }

        .ricon {
            height: 30px;
            width: 30px;
            padding: 10px;
        }
    </style>
</head>
<body>
<header class="header">
    <img class="back" src="./img/nav_back_black.png">
    <div class="msg" id="msgid"></div>
    <div class="rightIcon">
        <img class="ricon addicon" src="./img/mine_setting.png">
    </div>
</header>
<section>
    <ul class="ulflist">
        <template v-for="item in chatList">
            <li v-if="item.fromId == owernId">
            <img class="rtouxiang" :src="imgpath + userHeadUrl">
                <div class="rcmsg" v-html="item.contentText"></div>
            </li>
            <li v-else>
                <img class="touxiang" :src="imgpath + item.data.userHeadUrl">
                <div class="cmsg" v-html="item.contentText"></div>
            </li>
        </template>
    </ul>
</section>
<footer class="footer">
    <!--<div class="seachAll">-->
    <!--<input class="seach" type="text" id="msgVal" placeholder="请在此输入您的消息"/>-->
    <!--<button class="expression" type="button" id="sendBtn"></button>-->
    <!--</div>-->

    <div class="seachAll">
        <!--<input class="seach" type="text" id="msgVal" placeholder="请在此输入您的消息"/>-->
        <article
                id="form_article" contenteditable="true" onkeydown="myInput.listen(this, event);"></article>
        <button class="expressionemoji el" type="button" id="sendBtnd" lang="0"></button>
        <button class="expression" type="button" id="sendBtn"></button>
    </div>
    <div id="emoji_div">
        <div class="page_emotion box_swipe" id="page_emotion">
            <dl id="list_emotion" class="list_emotion pt_10"></dl><!-- 表情框 -->
            <dt>
                <ol id="nav_emotion" class="nav_emotion"></ol>
            </dt><!-- 分页提示点 -->
        </div>
    </div>
</footer>

<script>
    var fjson = localStorage.getItem("chatGroupEmoji");
    var pJson = JSON.parse(fjson);
    var flag = false;

    var fid = userid;
    var toUserId = pJson.groupChatId;
    var headUrl = localStorage.getItem("headUrl");

    var ulflistVue = new Vue({
        el: '.ulflist',
        data: {
            chatList: [],
            toid: toUserId,
            owernId: localStorage.getItem("userid"),
            userHeadUrl: headUrl,
            imgpath: imgurl
        },
        methods: {
            saveChatMsg(msgdate) {
                ulflistVue.chatList.push(msgdate)
            },
            fixGroupInfo(){
                var data = {
                    "groupHeadUrl":pJson.groupHeadUrl,
                    "groupName":pJson.groupName,
                    "groupChatId":pJson.groupChatId,
                    "groupNotice":pJson.groupNotice,
                    "userGrade":pJson.userGrade,
                    "addStatus":"PASS"
                };
                localStorage.setItem("group",JSON.stringify(data));
                window.location.href="applyGroup.html";
            }
        }
    });

    //初始化数据
    if (!isDeBug) {
        setGroupHis(toUserId);
    }

    $("#msgid").html(pJson.groupName);
    var h = window.screen.height - 62 - 60;
    $(".ulflist").css("max-height", h + "px");

    $(".back").bind("click", function () {
        localStorage.removeItem("chatGroupEmoji");
        backHis();
    });

    $("#form_article").bind("input", function () {
        reloadInpStatus();
    });

    $(".addicon").bind("click", function () {
        ulflistVue.fixGroupInfo();
    });

    function reloadInpStatus() {
        var val_inp = $("#form_article").html();
        if (val_inp.trim() === "") {
            flag = false;
            $("#sendBtn").css("display", 'none');
            $("#sendBtnd").addClass('el')
            $("#form_article").removeClass('wf')
        } else {
            //不空的时候
            flag = true;
            $("#sendBtn").css("display", 'block');
            $("#sendBtnd").removeClass('el')
            $("#form_article").addClass('wf');
        }
    }

    $("#sendBtnd").bind("click", function () {
        $("#emoji_div").toggle();
        var lang = $("#sendBtnd").attr("lang");
        if (lang === "0") {
            $(".ulflist").css("max-height", h - 220 + "px");
            $("#sendBtnd").attr("lang", "1");
        } else {
            $(".ulflist").css("max-height", h + "px");
            $("#sendBtnd").attr("lang", "0");
        }
    });

    setTimeout(function () {
        $("#emoji_div").toggle()
    }, 100)

    $("#sendBtn").bind("click", function () {
        var val_inp = $("#form_article").html();
        if (val_inp.trim() === "") {
            alert("请在此输入您的消息")
            return
        }

        val_inp = val_inp.replace(/src="/g, "src=");
        val_inp = val_inp.replace(/.gif"/g, ".gif");

        var msgdate = {
            "fromId": fid,
            "toId": toUserId,
            "contentText": val_inp,
            "cmd": "11",
            "chatType": "2",
            "msgType": "0",
        }
        ulflistVue.chatList.push(msgdate)
        sendALLMsg(msgdate);
        $("#form_article").html("");
        reloadInpStatus();
        scrollToEnd();
        //saveMsgByApp(msgdate);
    });

    function getMsg(res) {
        console.log('聊天界面', res);
        ulflistVue.chatList.push(res)
        scrollToEnd();
    }


</script>
</body>
</html>
